.user-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: var(--secondary);
    border: orangered 5px solid;
    position: fixed;
    bottom: 0 ;
    right: 0;
}

[class^="add__"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
}